$desktop-breakpoint: 40rem;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Font-size

$l-size: 1.8rem;
$m-size: 1.2rem;
$s-size: 1rem;
